body{
	margin: 0px;
}
.right a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 0px;
  text-decoration: none;
  padding-right: 25px;
  font-size: 13px;
}
.right {
  overflow: hidden;
  background-color: #333;
}
/*Second*/

div .laki{
	text-align: center;
	color: #f2f2f2;
	font-size: 35px;
	padding-bottom: 0px;

}
div .liit{
	margin-top: 0px;
	text-align: center;
	color: #999999;
	padding: 10px 0px;
}
.OS{
	overflow: hidden;
	background-color: #262626; 
}
/*apat*/
.apat{
 	overflow: hidden;
	background-color: #333;
}
.apat p{
  float: right;
  display: block;
  color: #999999;
  text-align: center;
  padding: 23px 0px;
  text-decoration: none;
  padding-right: 25px;
  font-size: 14px;
}
/*lima*/
.lima{
	overflow: hidden;
	background-color: #ff4d6a;
}
.lima p{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  padding-right: 25px;
  font-size: 12px;
 }
 /*CONTENT*/
  .content{
 	overflow: hidden;
 	background-color: #333;
 	column-count: 2;
 }
 .content p{
 	font-size: 36px;
 	color: #d9d9d9;
 	margin-left: 100px;
 	text-decoration: none;
 	margin-top: 60px;
 	margin-bottom: 65px;
 }
 .img1{
 	float: left;
 	margin-left: 100px;
 	margin-bottom: 10px;
 }
  .img2{
 	float: left;
 	margin-left: 10px;
 	margin-bottom: 10px;
 	margin-top: 166px;
 }
.buttons{
 	padding: 18px;
 	margin: 10px;
 	text-align: center;
 	color:#ffff;
 	width: 300px;
 	font-family: sans-serif;
 	border-radius: 10px; 
 	float: left;
 	margin-left: 70px;
}
#first-button{
	background-color: #ff3333;
	margin-top: 60px;
}
#second-button{
	background-color: #e6c300;
}
#third-button{
	background-color: #4CFA50;
}
.bot{
  text-decoration: none;
}